!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta(property='og:title' content="#{current_page.data.title || data.global.title}")
    %meta(property='og:description' content="#{current_page.data.description || data.global.description}")
    %meta(property='og:site_name' content="#{current_page.data.title || data.global.title}")
    %meta(property='og:url' content="#{current_page.data.url || data.global.url}")
    %meta(property='og:type' content='activity')
    %meta(property='og:image' content="#{File.join(data.global.url, image_path('og_image.png'))}")
    %meta(name='twitter:card' content="summary_large_image")
    %meta(name='twitter:site' content="@#{data.global.twitter}")
    %meta(name='description' content="#{current_page.data.description || data.global.description}")
    %meta(name='keywords' content="#{current_page.data.keywords || data.global.keywords}")
    %link{href: image_path('favicon.ico'), rel: "icon", sizes: "any"}
    %link{href: image_path('icon.svg'), rel: "icon", type: "image/svg+xml"}
    %link{href: image_path('apple-touch-icon.png'), rel: "apple-touch-icon", sizes: "180x180"}
    %link{href: image_path('favicon-32x32.png'), rel: "icon", sizes: "32x32", type: "image/png"}
    %link{href: image_path('favicon-16x16.png'), rel: "icon", sizes: "16x16", type: "image/png"}
    %link{href: image_path('site.webmanifest'), rel: "manifest"}
    %meta{content: "#000000", name: "theme-color"}
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || data.global.title
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body
    = yield
