.hero__live
  %h3.hero__live-heading
    = data.year_2023.general.live_streaming.heading
  = partial ('partials/live_streamer')
  %p.hero__live-text
    = '当日はキーボード動画でおなじみの'
    = link_to 'Daihuku Keyboard さんのチャンネル', 'https://www.youtube.com/c/daihukukeyboard', target: '_blank'
    = 'からオンライン配信予定です。'
    %br
    = '現地参加できない方も YouTube 配信をお楽しみに！'
