.sponsor
  .sponsor__main
    %h3.sponsor__main-heading Sponsors
    %ul.sponsor__main-list
      - data.year_2023.sponsors.main.each do |sponsor|
        %li.sponsor__main-logo
          = link_to sponsor.url,
            title: sponsor.name_ja,
            target: '_blank' do
            = image_tag("sponsors/#{sponsor.logo}",
              class: "sponsor__main-logo-image is-#{sponsor.name}")

  %ul.sponsor__sub-list
    - data.year_2023.sponsors.sub.each do |sponsor|
      %li.sponsor__sub
        .sponsor__sub-label
          = sponsor.role
        .sponsor__sub-logo
          = link_to image_tag("sponsors/#{sponsor.name}.svg",
            class: 'sponsor__sub-logo-image',
            alt: sponsor.name_ja),
            sponsor.url,
            title: sponsor.name_ja,
            target: '_blank'
