.timetable
  %h2.timetable__heading Timetable
  %ul.timetable__table
    - data.year_2023.timetable.each do |item|
      %li.timetable__item
        .timetable__time
          = item.time
        .timetable__content
          - if item.category == 'misc'
            %h3.timetable__title
              = item.title
              %span.timetable__title-ja= item.title_ja
          - if item.category == 'lt'
            .timetable__lt-wrap
              .timetable__title--lt= item.title
              %ul.timetable__lt
                - item.talks.each do |lt|
                  %li.timetable__lt-item
                    .timetable__lt-avatar
                      = image_tag(lt.speaker.avatar,
                        alt: lt.speaker.id,
                        class: 'timetable__lt-avatar-image')
                    .timetable__lt-content
                      .timetable__lt-title
                        = lt.title
                      .timetable__lt-speaker
                        = link_to lt.speaker.url do
                          = lt.speaker.name
                          %span.timetable__lt-speaker-id= "@#{lt.speaker.id}"
          - if item.category == 'talk'
            .timetable__talk
              .timetable__talk-avatar
                = image_tag(item.speaker.avatar,
                alt: item.speaker.id,
                class: 'timetable__talk-avatar-image')
              .timetable__talk-content
                %h3.timetable__talk-title
                  = item.title
                .timetable__talk-speaker
                  .timetable__talk-speaker-name
                    = item.speaker.name
                  = link_to item.speaker.twitter,
                    title:  item.speaker.id,
                    target: '_blank',
                    class:  'timetable__talk-speaker-id' do
                    = "@#{item.speaker.id}"
                  = link_to item.speaker.twitter,
                    title:  item.speaker.twitter,
                    target: '_blank',
                    class:  'timetable__speaker-sns is-twitter' do
                    %i.fa-brands.fa-twitter
                  = link_to item.speaker.github,
                    title:  item.speaker.github,
                    target: '_blank',
                    class:  'timetable__speaker-sns is-github' do
                    %i.fa-brands.fa-github
                  = link_to item.speaker.website,
                    title:  item.speaker.website,
                    target: '_blank',
                    class:  'timetable__speaker-sns is-website' do
                    %i.fa-solid.fa-link
                .timetable__profile
                  = item.speaker.profile_html
