- d = data.year_2024

.keynotes.content
  %h2.keynotes__heading.heading
    Keynotes
  %ul.keynotes__speakers
    - d.keynotes.each do |speaker|
      %li.keynotes__speaker
        = link_to "https://twitter.com/#{speaker.id}",
          class: 'keynotes__speaker-link',
          target: '_blank' do
          .keynotes__avatar
            .keynotes__avatar-inner
              = image_tag("2024/avatars/#{speaker.id}.jpg",
                class: 'keynotes__avatar-image',
                alt: speaker.id)
          %h3.keynotes__name= speaker.name
          %p.keynotes__name-en= speaker.name_en
          %p.keynotes__id= "@#{speaker.id}"
