%section.content.note#note
  %h2.heading.note__heading
    = data.year_2024.note.title
  .note__body
    %p.note__body
      = data.year_2024.note.body
    %p.note__policy
      = data.year_2024.note.policy
    = link_to data.year_2024.note.anti_harassment_policy.url,
      class: 'note__link',
      target: '_blank' do
      %i.fa-solid.fa-caret-right
      = data.year_2024.note.anti_harassment_policy.title
