%section.section.note#note
  %h2.note__heading.h2
    = data.year_2023.note.title
  .note__en
    %p.note__body-en
      = data.year_2023.note.body_en
    %p.note__body-en
      = data.year_2023.note.policy_en
    %ul.note__list
      %li.note__list-item
        = link_to data.year_2023.note.anti_harassment_policy.url,
          class: 'note__list-link',
          target: '_blank' do
          = data.year_2023.note.anti_harassment_policy.title_en
      %li.note__list-item
        = link_to data.year_2023.note.covid_19_policy.url,
          class: 'note__list-link',
          target: '_blank' do
          = data.year_2023.note.covid_19_policy.title_en
  .note__ja
    %p.note__body-ja
      = data.year_2023.note.body_ja
    %p.note__body-ja
      = data.year_2023.note.policy_ja
    %ul.note__list
      %li.note__list-item
        = link_to data.year_2023.note.anti_harassment_policy.url,
          class: 'note__list-link',
          target: '_blank' do
          = data.year_2023.note.anti_harassment_policy.title_ja
      %li.note__list-item
        = link_to data.year_2023.note.covid_19_policy.url,
          class: 'note__list-link',
          target: '_blank' do
          = data.year_2023.note.covid_19_policy.title_ja
