%section.schedule#schedule
  %h2.heading Schedule
  %ul.schedule__table
    - data.year_2024.schedule.each do |item|
      %li.schedule__item
        .schedule__time
          = item.time
        .schedule__content

          - if item.category == 'misc'
            %h3.schedule__title
              .schedule__title-ja= item.title
              .schedule__title-en= item.title_en

          - if item.category == 'opening'
            .schedule__opening
              %h3.schedule__title
                .schedule__title-en= item.title
                .schedule__title-ja= item.title_ja

          - if item.category == 'Sema-Pitches'
            .schedule__title
              .schedule__title-ja= item.title_ja
              .schedule__title-en= item.title
            .schedule__sema-description
              %p= item.description
              = link_to data.year_2024.general.call_for_lt.url,
                class: 'schedule__call-for-lt',
                target: '_blank' do
                %i.fa-solid.fa-angle-right.call-for-lt__icon
                %span.schedule__call-for-lt-message= 'ただいまトーク募集中！'
            -# 狭ピッチトーク決定後に表示
            -# %ul.schedule__sema
            -#   - item.speakers.each do |speaker|
            -#     %li.schedule__sema-speaker
            -#       .schedule__sema-avatar
            -#         = link_to speaker.twitter, target: '_blank', class: 'schedule__sema-speaker-link' do
            -#           = image_tag(speaker.avatar,
            -#             alt: speaker.id,
            -#             class: 'schedule__sema-avatar-image')
            -#       .schedule__sema-right
            -#         %h4.schedule__sema-title
            -#           = speaker.title
            -#         .schedule__sema-profile
            -#           .schedule__sema-speaker-name
            -#             = speaker.name
            -#           .schedule__sema-speaker-id
            -#             = "@#{speaker.id}"
            -#           = link_to speaker.twitter,
            -#             title:  speaker.twitter,
            -#             target: '_blank',
            -#             class:  'schedule__sema-sns is-twitter' do
            -#             %i.fa-brands.fa-twitter
            -#           = link_to speaker.github,
            -#             title:  speaker.github,
            -#             target: '_blank',
            -#             class:  'schedule__sema-sns is-github' do
            -#             %i.fa-brands.fa-github
            -#           - if speaker.website.present?
            -#             = link_to speaker.website,
            -#               title:  speaker.website,
            -#               target: '_blank',
            -#               class:  'schedule__sema-sns is-website' do
            -#               %i.fa-solid.fa-link
            -#         .schedule__sema-bio
            -#           = speaker.bio

          - if item.category == 'Keeb Talk'
            .schedule__talk
              .schedule__talk-container
                = link_to item.speaker.twitter,
                  title:  item.speaker.id,
                  target: '_blank',
                  class:  "schedule__talk-avatar" do
                  = image_tag(item.speaker.avatar,
                  alt: item.speaker.id,
                  class: 'schedule__talk-avatar-image')
                .schedule__talk-content
                  %h3.schedule__talk-title
                    = item.title
                  .schedule__talk-speaker
                    %span.schedule__talk-speaker-name
                      = item.speaker.name
                  .schedule__talk-speaker-id
                    = link_to item.speaker.twitter,
                      title:  item.speaker.id,
                      target: '_blank',
                      class:  'schedule__talk-speaker-twitter-id' do
                      = "@#{item.speaker.id}"
                  .schedule__talk-speaker-links
                    - if item.speaker.twitter.present?
                      = link_to item.speaker.twitter,
                        title:  item.speaker.twitter,
                        target: '_blank',
                        class:  'schedule__speaker-sns is-twitter' do
                        %i.fa-brands.fa-twitter
                    - if item.speaker.github.present?
                      = link_to item.speaker.github,
                        title:  item.speaker.github,
                        target: '_blank',
                        class:  'schedule__speaker-sns is-github' do
                        %i.fa-brands.fa-github
                    - if item.speaker.website.present?
                      = link_to item.speaker.website,
                        title:  item.speaker.website,
                        target: '_blank',
                        class:  'schedule__speaker-sns is-website' do
                        %i.fa-solid.fa-link
                  - if item.speaker.bio.present?
                    .schedule__bio
                      = item.speaker.bio
