---
title: 'KeebKaigi 2023: May 10 - Matsumoto, Nagano, Japan'
url: https://keebkaigi.org/2023
tagline: A “Kaigi” for DIY Keyboard enthusiasts
description: A “Kaigi” for DIY keyboard enthusiasts to be held in Matsumoto, Nagano, Japan
keywords: keyboard, DIY keyboard, RubyKaigi, 自作キーボード, keeb, keebkaigi, 分割キーボード, PRK Firmware
---

- d = data.year_2023

.bg
  .bg__keeb-left
  .bg__keeb-right
.content#top
  .hero
    .hero__content
      .hero__tagline
        = d.general.tagline
      %h1.hero__logo
        %span.hero__text
          = d.general.event_name
      .hero__year
        = d.general.year
      .hero__city
        %span.hero__text
          = d.venue.city
      .hero__datetime
        .hero__date
          = d.general.date
        .hero__time
          = d.general.time
      .hero__rubykaigi
        = link_to d.general.rubykaigi.name,
          d.general.rubykaigi.url,
          title: d.general.rubykaigi.name,
          target: '_blank'
        = '-'
        = d.general.rubykaigi.date
      .hero__venue
        = link_to d.venue.url,
          title: d.venue.name,
          class: 'hero__venue-link',
          target: '_blank' do
          %i.fa-solid.fa-location-dot.hero__venue-icon
          %span.hero__venue-name= d.venue.name
          %span.hero__venue-name-ja= d.venue.name_ja
          = d.venue.city
          = d.venue.prefecture
          = ','
          = d.venue.country
        .hero__venue-google-map
          = link_to d.venue.address,
            d.venue.map_url,
            title: 'View on Google Map',
            target: '_blank',
            class: 'hero__venue-google-map-link'
      .registration
        -# .hero__registration-description-container
        -#   .hero__registration-description
        -#     %span.hero__registration-description-text
        -#       = d.general.registration.description
        = link_to d.general.registration.url,
          title: 'Registration',
          class: 'registration__button',
          target: '_blank' do
          %span.registration__text= 'Registration Closed'
      -# = partial('partials/live_notice')

  = partial('partials/live')
  = partial('partials/schedule')
  = partial('partials/note')
  = partial('partials/drink_up')
  = partial('partials/twitter')
  = partial('partials/swag')
  = partial('partials/sponsors')

  %section.section.team#team
    .team__logo
      = image_tag('logo-white.svg',
        class: 'team__logo-image',
        alt: d.general.event_name)
    .team__year
      = d.general.year
    %h3.team__heading
      Team
    - d.team.each do |role|
      .team__role
        %h4.team__role-name= role[0].capitalize
        %ul.team__members-list
          - role[1].each do |member|
            %li.team__member<>
              - if member.is_a? String
                = link_to "@#{member}",
                  "https://twitter.com/#{member}",
                  target: '_blank'
              - else
                = link_to "@#{member.name}",
                  member.url,
                  target: '_blank'
    .team__supporter
      .team__supporter-label
        in association with
      .team__supporter-logo
        = link_to image_tag("sponsors/ruby-no-kai.svg",
          class: 'team__supporter-logo-image',
          alt: '日本Rubyの会'),
          'https://ruby-no-kai.org/',
          title: '日本Rubyの会',
          target: '_blank'
  .team__license
    = data.global.license
.footer
