---
title: 'KeebWorld Conference 2024 松江'
url: https://keebkaigi.org/2024
tagline: A conference for DIY Keyboard enthusiasts
description: A conference for DIY keyboard enthusiasts to be held in Matsue, Shimane, Japan
keywords: keyboard, DIY keyboard, RubyKaigi, 自作キーボード, keeb, keebkaigi, 分割キーボード, PRK Firmware
---

- d = data.year_2024

= partial('partials/2024/hero')
= partial('partials/2024/enter')

.main-container
  = partial('partials/2024/call_for_lt')
  .sijimi
  = partial('partials/2024/keynotes')
  .sijimi
  = partial('partials/2024/note')
  .sijimi
  = partial('partials/2024/sponsors')
  .twitter.content= partial('partials/2024/twitter')

= partial('partials/2024/footer')
