---
title: 'KeebWorld Conference 2024 松江'
url: https://keebkaigi.org/2024
tagline: A conference for DIY Keyboard enthusiasts
description: A conference for DIY keyboard enthusiasts to be held in Matsue, Shimane, Japan
keywords: keyboard, DIY keyboard, RubyKaigi, 自作キーボード, keeb, keebkaigi, 分割キーボード, PRK Firmware
---

- d = data.year_2024

.hero
  .hero__bg
    .hero__tagline
      = d.general.tagline
    .hero__container
      .hero__logo
        .hero__logo-left
        .hero__logo-center
        .hero__logo-right
        -# = image_tag("2024/hero__logo.svg",
        -#   class: 'hero__logo-image',
        -#   alt: d.general.event_name)
      .hero__content
        .hero__logo-sub
          .hero__year
            = d.general.year
          .hero__city
            = d.general.city
        -# .hero__sijimi
        .hero__datetime
          %span.hero__date= "#{d.general.year} - #{d.general.month} - #{d.general.day}"
          %span.hero__weekday= "（#{d.general.weekday}）"
          %br.hero__datetime-br
          %span.hero__time= "#{d.general.start_time} - #{d.general.end_time}"
        .hero__rubyworld
          = link_to d.general.rubyworld.name,
            d.general.rubyworld.url,
            title: d.general.rubyworld.name,
            target: '_blank'
          = '-'
          = d.general.rubyworld.date
        .hero__venue
          = link_to d.general.venue.url,
            title: d.general.venue.name,
            class: 'hero__venue-link',
            target: '_blank' do
            %span.hero__venue-name-ja= d.venue.name
          .hero__venue-google-map
            = link_to d.general.venue.map_url,
              title: 'View on Google Map',
              target: '_blank',
              class: 'hero__venue-google-map-link' do
              %i.fa-solid.fa-location-dot.hero__venue-icon
              = d.general.venue.address


.enter
  = link_to d.general.enter.url,
    class: 'enter__button',
    target: '_blank' do
    .enter__inner
      .enter__text
        = 'ENTER'
      .enter__icon

.main-container

  .keynotes.content
    %h2.keynotes__heading.heading
      Keynotes
    %ul.keynotes__speakers
      - d.keynotes.each do |speaker|
        %li.keynotes__speaker
          = link_to "https://twitter.com/#{speaker.id}",
            class: 'keynotes__speaker-link',
            target: '_blank' do
            .keynotes__avatar
              .keynotes__avatar-inner
                = image_tag("2024/avatars/#{speaker.id}.jpg",
                  class: 'keynotes__avatar-image',
                  alt: speaker.id)
            %h3.keynotes__name= speaker.name
            %p.keynotes__name-en= speaker.name_en
            %p.keynotes__id= "@#{speaker.id}"

    %p.keynotes__more
      = '...and more!'

  = partial('partials/2024/note')

  .twitter.content
    = partial('partials/2024/twitter')

.footer
  .footer__container
    .footer__content
      .footer__left
        .footer__powered-by
          Powered by
        .footer__logo
          = link_to 'https://keebkaigi.org/2023',
            class: 'footer__logo-link',
            target: '_blank' do
            = image_tag('2024/footer__logo.svg',
              class: 'footer__logo-image',
              alt: 'KeebWorld Conference 2024')
      .footer__right
        - d.team.each do |role|
          .footer__role
            %h4.footer__role-name= role[0].capitalize
            %ul.footer__members-list
              - role[1].each do |member|
                %li.footer__member<>
                  = link_to "@#{member}",
                    "https://twitter.com/#{member}",
                    target: '_blank'
    .footer__license
      = d.general.license
