---
title: 'KeebWorld Conference 2024 松江'
url: https://keebkaigi.org/2024
tagline: A conference for DIY Keyboard enthusiasts
description: A conference for DIY keyboard enthusiasts to be held in Matsue, Shimane, Japan
keywords: keyboard, DIY keyboard, RubyKaigi, 自作キーボード, keeb, keebkaigi, 分割キーボード, PRK Firmware
---

- d = data.year_2024

= partial('partials/2024/hero')

.enter
  = link_to d.general.enter.url,
    class: 'enter__button',
    target: '_blank' do
    .enter__inner
      .enter__text
        = 'ENTER'
      .enter__icon

.main-container

  = partial('partials/2024/call_for_lt')

  = partial('partials/2024/keynotes')

  = partial('partials/2024/note')

  .twitter.content
    = partial('partials/2024/twitter')

.footer
  .footer__container
    .footer__content
      .footer__left
        .footer__powered-by
          Powered by
        = link_to 'https://keebkaigi.org/2023',
          class: 'footer__logo-link',
          target: '_blank' do
          .footer__logo
      .footer__right
        - d.team.each do |role|
          .footer__role
            %h4.footer__role-name= role[0].capitalize
            %ul.footer__members-list
              - role[1].each do |member|
                %li.footer__member<>
                  = link_to "@#{member}",
                    "https://twitter.com/#{member}",
                    target: '_blank'
    .footer__license
      = d.general.license
